{% extends "base.html" %} {% block title %}Accommodation{% endblock %}

{% block content %}
<div>
    <h1 align="center">
        Account Management Dashboard
    </h1>
</div>

<div class="acc-dashboard" >
    <button onclick="document.location='/accommodation/sign-up'" class="btn btn-primary acc-btns-1">Add account</button>
    <div class="separate">
        <img class="logo" src="{{url_for('static', filename='military sci logo_navi.png')}}">
    </div>
    <button onclick="document.location='/accommodation/delete'" class="btn btn-primary acc-btns-1">Delete account</button>
    <br>
</div>

{% endblock %}